@mixin clear-list {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin bp($bp, $min-max: min-width) {
    $em: $bp/16;
    @media(#{$min-max}: #{$em}em) {
        @content;
    }
}