$pink1: #d22b62;
$pink2: #bd2b5c;
$pink3: #d33060;
$black1: #1a202c;
$blue1: #8de2ff;
$blue2: #b2ebfe;
$lightgray1: #f6f5fb;
$lightgray2: #bdbacd;
$lightgray3: #fefefe;
$lightgray4: #f9f8fd;
$orange1: #ed915c;
$orange2: #fd614b;
$orange3: #f77c6a;
$yellow: #ffd358;
$OpenSans: 'Open Sans', sans-serif;