* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nosifer', cursive;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  height: 50vh;
  position: relative;
  overflow: hidden;
  -webkit-filter: contrast(20);
          filter: contrast(20);
  border-radius: 70px;
}

.cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.cloud::before, .cloud::after {
  content: '';
  border-radius: 56% 44% 55% 45% / 86% 83% 17% 14%;
  position: absolute;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.68), rgba(0, 255, 78, 0.35));
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.cloud::before {
  width: 100%;
  max-width: 1000px;
  height: 1000px;
  top: -940px;
  -webkit-animation: c 3s alternate infinite;
          animation: c 3s alternate infinite;
}

.cloud::after {
  width: 100%;
  max-width: 900px;
  height: 900px;
  top: -860px;
  left: 250px;
  animation: c 2s alternate-reverse infinite;
}

.dirt {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  position: absolute;
  width: 100%;
  height: 98px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#020202), to(#a3c79a));
  background-image: linear-gradient(0deg, #020202, #a3c79a);
  bottom: -14px;
  border-radius: 50%;
}

.dirt::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 24px;
  left: 455px;
  background: rgba(50, 216, 109, 0.27);
  bottom: 32px;
  -webkit-box-shadow: 92px 10px 20px 3px rgba(0, 255, 70, 0.49), -128px 10px 31px 3px rgba(0, 255, 70, 0.49), 152px 15px 20px 3px rgba(0, 255, 70, 0.49);
          box-shadow: 92px 10px 20px 3px rgba(0, 255, 70, 0.49), -128px 10px 31px 3px rgba(0, 255, 70, 0.49), 152px 15px 20px 3px rgba(0, 255, 70, 0.49);
}

h2 {
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: 32px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  color: #3d6b00;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-width: 768px) {
  h2 {
    bottom: 1px;
    font-size: 42px;
  }
}

.rain {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.74)), to(#004214));
  background-image: linear-gradient(rgba(0, 0, 0, 0.74), #004214);
  width: 60px;
  height: 60px;
  left: 400px;
  top: 20px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  border-radius: 82% 18% 66% 34% / 68% 0% 100% 32%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
  -webkit-animation-timing-function: cubic-bezier(1, 0.02, 1, 1);
          animation-timing-function: cubic-bezier(1, 0.02, 1, 1);
  -webkit-animation: r 3s forwards infinite;
          animation: r 3s forwards infinite;
}

.rain:nth-child(2) {
  left: 160px;
  width: 40px;
  height: 40px;
  -webkit-animation: r 1s forwards infinite;
          animation: r 1s forwards infinite;
}

.rain:nth-child(3) {
  left: 350px;
  width: 45px;
  height: 45px;
  -webkit-animation: r 800ms forwards infinite;
          animation: r 800ms forwards infinite;
}

.rain:nth-child(4) {
  left: 490px;
  width: 49px;
  height: 49px;
  -webkit-animation: r 900ms forwards infinite;
          animation: r 900ms forwards infinite;
}

.rain:nth-child(5) {
  left: 590px;
  width: 39px;
  height: 39px;
  -webkit-animation: r 500ms forwards infinite;
          animation: r 500ms forwards infinite;
}

@-webkit-keyframes c {
  from {
    border-radius: 56% 44% 70% 40% / 86% 83% 17% 14%;
  }
  to {
    border-radius: 56% 44% 55% 45% / 86% 83% 17% 14%;
  }
}

@keyframes c {
  from {
    border-radius: 56% 44% 70% 40% / 86% 83% 17% 14%;
  }
  to {
    border-radius: 56% 44% 55% 45% / 86% 83% 17% 14%;
  }
}

@-webkit-keyframes r {
  from {
    top: 20px;
  }
  to {
    top: 430px;
  }
}

@keyframes r {
  from {
    top: 20px;
  }
  to {
    top: 430px;
  }
}
/*# sourceMappingURL=style.css.map */