.Aside{
    // Dark mode
    $border-dark: #252525;
    $bg-dark: #131313;
    padding: em(26);
    margin-top: em(20);
    border-top: 1px solid $border-light;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: ghostwhite;
    transition: 200ms;
    .dark &{
        border-top: 1px solid $border-dark;
        background-color: $bg-dark;
    }
    &-link{
        font-size: em(12);
        border-bottom: 1px dotted transparent;
        img{
            width: 25px;
        }
        // &:hover{
        //     border-bottom: 1px dotted;
        // }
    }
    @include bp(768){
        position: absolute;
        border-top: 0;
        border-right: 1px solid $border-light;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: calc(100vh - 0px);
        margin-top: 0;
        padding-bottom: 30px;
        > * + *{
            margin-top: em(50);
        }
        .dark &{
            border-right: 1px solid $border-dark;
        }
    }
}