footer{
    display: flex;
    justify-content: center;
    a{
        color: white;
        &:hover{
            border-bottom: 1px dotted;
        }
        + a{
            margin-left: em(40);
        }
    }
}