.Home{
    position: relative;
    // background-image: radial-gradient(white -5px, black 1px);
    // background-size: 3% 35%;
    // background-repeat: repeat;
    // background-position: 25% -807px;
}
.Logo-css{
    $w: em(25);
    $h: em(100);
    $br: 0px 0px 10px 0px white;
    width: $w;
    height: $h;
    border-radius: $w;
    background-color: white;
    margin: auto;
    position: relative;
    box-shadow: $br;
    top: em(-50);
    &::before,
    &::after{
        content: '';
        position: absolute;
    }
    &::before{
        bottom: calc(#{$w} / 2);
        height: calc(#{$h} - 60px);
        width: $w;
        border-radius: $w;
        left: calc(-#{$w} + -5px);
        background-color: ghostwhite;
        box-shadow: $br;
    }
    &::after{
        left: calc(#{$w} + 5px);
        width: calc(#{$w} / 2);
        height: $w;
        border-radius: 0 $w $w 0;
        background-color: ghostwhite;
        box-shadow: $br;
        top: calc(#{$w} / 2);
    }
}