@import url("./fonts.css");

@import "tailwindcss";

/* tailwind plugins */
@plugin "@tailwindcss/forms";

/* theme definition import */
@import "./tailwind-theme.css";

/* other imports into specific layers */
@import "./markdown-content.css" layer(components);
@import "./buttons.css" layer(components);
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

/* https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer */
@layer base {
	:root {
		/* default font */
		font-family: var(--font-sans);
	}

	/* starwind preflight merged with Cosmic Themes */
	* {
		@apply border-base-200 outline-none;
	}
	*:focus-visible {
		@apply ring-primary-700 rounded-xs ring-2 outline-none;
	}
	html {
		@apply bg-base-100 text-base-900 leading-[1.6rem] scheme-light;
		scroll-behavior: smooth;
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}
	button {
		@apply cursor-pointer;
	}
	h1,
	h2,
	h3 {
		@apply font-serif;
	}
}

@layer components {
	.h1 {
		@apply font-serif text-3xl font-semibold md:text-4xl lg:text-5xl;
	}

	.h2 {
		@apply font-serif text-2xl font-semibold md:text-3xl;
	}

	.h3 {
		@apply font-serif text-lg font-semibold md:text-xl;
	}

	.description {
		@apply opacity-90 md:text-lg;
	}

	.site-container {
		@apply mx-auto max-w-[1440px] px-4;
	}
}

@layer utilities {
	/* focus utility class (for when user is tabbing through items on page) */
	.primary-focus:focus-visible {
		@apply ring-primary-700 rounded-xs ring-2;
	}

	/* main gradient. Used for tags and some headings */
	.main-text-gradient {
		@apply bg-gradient-to-r from-indigo-600 to-sky-600 bg-clip-text text-transparent;
	}

	.rotate-180 {
		@apply rotate-180;
	}

	.font-headline {
		@apply font-serif;
	}

	.text-primary {
		@apply text-primary-600;
	}
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-blue-dark: var(--blue-dark);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.76 0.18 62.44);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0.01 0);
	--secondary-foreground: oklch(0.21 0.04 265.74);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.205 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--blue-dark: oklch(0.26 0.02 256.45);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.76 0.18 62.44);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
	--blue-dark: oklch(0.26 0.02 256.45);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	.register h2 {
		@apply mb-6 text-3xl font-medium text-gray-900;
	}

	.register p {
		@apply mt-4 text-base text-gray-500;
	}
	.register p a {
		@apply text-primary underline transition-colors hover:text-orange-600;
	}

	.register h3 {
		@apply text-primary mt-6 text-2xl font-bold;
	}
}
