$browser-context: 16; // Default

@mixin bp($bp,
$min-max: min-width) {
    $em: $bp/16;
    @media(#{$min-max}: #{$em}em) {
        @content;
    }
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}