$roboto: 'Roboto', sans-serif;
$roboto-thin: 300;
$roboto-normal: 400;
$roboto-medium-italic: 500i;
$roboto-bold: 700;

$dark: #181818;
$border-light: #ededed;
$gray: #444;
$gray2: #353535;
$gray3: #666;
