:root{
    --banigColor: linear-gradient(95deg, #FF5722, #ffde7b);
    --banigColor2: linear-gradient(10deg, #bb2e5e, rgb(32, 160, 101));
    --banigWidth: 50px;
    --banigHeight: 400px;
    --cursor: none;
    --cursorWidth: 10px;
    --cursorHeight: 20px;
    --bg: cornsilk;
}
*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    background-color: var(--bg);
}
.stitch{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    > div{
        height: var(--banigHeight);
        width: var(--banigWidth);
        position: relative;
        &:nth-child(odd){
            background-image: var(--banigColor);
            background-position: var(--cursorWidth) var(--cursorHeight);
            background-size: calc(var(--banigWidth) - var(--cursorWidth)) 100%;
            background-repeat: no-repeat;
            cursor: none;
            &:last-child,
            &:nth-child(5),
            &:first-child{
                z-index: -1;
                cursor: default;
            }
            &:nth-child(3),
            &:nth-child(7){
                z-index: 1;
            }
        }
        &:nth-child(even){
            &::before{
                content: '';
                width: calc(var(--banigHeight) + 140px);
                height: 40px;
                background-image: var(--banigColor2);
                box-shadow: 0px 2px 3px black;
                position: absolute;
            }
        }
        $max: 350;
        $step: 45;
        @for $i from 1 through ceil($max/$step){
            &:nth-child(n+#{$i}):nth-child(even){
                $t: ($i - 1)*$step + 1;
                &::before{
                    top: #{$t}px;
                }
            }
        }
        $max2: 300;
        $step2: 40;
        @for $x from 1 through ceil($max/$step){
            &:nth-child(n+#{$x}):nth-child(even){
                $t2: ($x - 1)*$step + 1;
                &::before{
                    left: calc(-#{$t2}px - 60px);
                }
            }
        }
    }
}